{% extends "base.html" %}

{% block title %}Gestionar grupo horario{% endblock %}

{% block content %}

<div class="col d-flex flex-column h-sm-100">
  <main class="row overflow-auto">
    <div class="container-fluid col">
      <div class="px-lg-2 mx-lg-2 py-0 my-0">

        <div class="container-fluid m-0 p-0">

          <div class="row align-items-center mx-0 px-0" style="overflow-x: hidden; margin-top: 35px;">

            <div class="container justify-content-center">
              <div class="container">


                <div id="contenedorSub"
                  style=" padding: 20px; background-color: white; margin-top: 20px; height: auto; border-radius: 5px; ">


                  <!-- TÍTULO -->

                  <div class="box-tittle">
                    <button type="button" class="regresarBtn">
                      <a href="/inicio"><img id="closeicon" src="/static/iconos/regresar.PNG" width="32px"
                          height="27px"></a>
                    </button>
                    <h3 id="titulo" style="margin-left: 20px; display: inline;">GESTIONAR GRUPO HORARIO</h3>

                  </div>
                  <br>
                  <button class="btnVer" onclick="window.location.href='{% url 'agregarGrupoHorario' %}'"> Agregar grupo
                    horario</button>
                  <div class="col-md-12" style="margin-left: 850px; margin-bottom: -16px; margin-top: -9px;">
                    <br>

                  </div>

                  <br>
                  <div id="boxTabla" style="height: 340px; overflow-y: auto; text-align: center;">

                    <table class="table" id="tabla">

                      <thead class="encabezado"
                        style=" position: sticky; top: 0; z-index: 1; background-color: #E33439;">
                        <tr>
                          <th scope="col" style="background-color: #E33439; color: #fff;width: 15%; ">CICLO</th>

                          <th scope="col" style="background-color: #E33439; color: #fff;width: 15%; ">GRUPO HORARIO</th>

                          <th scope="col" style="background-color: #E33439; color: #fff;width: 30%;">CURSO</th>
                          <th scope="col" style="background-color: #E33439; color: #fff;width: 10%;">CAPACIDAD</th>
                          <th scope="col" style="background-color: #E33439; color: #fff;width: 10%;">ACCIONES</th>
                        </tr>
                      </thead>

                      <tbody>
                        {% for g in grupos_horario %}

                        <tr>

                          <td id="ciclo" style="text-align: center;">{{ g.0 }}</td>

                          <td id="grupoHorario" style="text-align: left;">{{ g.1 }}</td>
                          <td id="Curso" style="text-align: left;">{{ g.2 }}</td>
                          <td id="capacidad" style="text-align: center;">{{ g.3 }}</td>
                          <td id="butns" style="text-align: center;">
                            <button class="btnmodif" id="{{ g.4 }}">
                              <i class="fa fa-pencil"></i>
                            </button>
                            <button class="btndel" id="{{ g.4 }}"">
                                            <i class=" fa fa-trash"></i>
                            </button>
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>

                    </table>

                  </div>

                </div>

              </div>
            </div>

          </div>
        </div>
  </main>
</div>

</div>

</div>

</div>

{% endblock %}

{% block extra_js %}
<script>


  document.addEventListener('DOMContentLoaded', function () {

    var filtroInput = document.getElementById("filtro");
    var limpiarBtn = document.getElementById("limpiarBtn");
    var tabla = document.querySelector(".table");
    var nombreColumnaIndex = 0;

    function filtrarTabla() {
      var filtro = filtroInput.value.toLowerCase();
      var filas = tabla.getElementsByTagName("tr");

      for (var i = 0; i < filas.length; i++) {
        var celdaNombre = filas[i].getElementsByTagName("td")[nombreColumnaIndex];
        if (celdaNombre) {
          var textoCelda = celdaNombre.innerText.toLowerCase();
          var fila = filas[i];
          if (textoCelda.indexOf(filtro) > -1) {
            fila.style.display = "";
          } else {
            fila.style.display = "none";
          }
        }
      }
    }

    filtroInput.addEventListener("keyup", filtrarTabla);

    limpiarBtn.addEventListener("click", function () {
      filtroInput.value = "";
      filtrarTabla();
    });

  });

  document.addEventListener('DOMContentLoaded', function () {
    // Función para redirigir a la página de modificación
    document.querySelectorAll('.btnmodif').forEach(button => {
      button.addEventListener('click', function () {
        const id = this.id;
        window.location.href = `/modificarGrupoHorario/${id}/`;
      });
    });
  });

  document.addEventListener('DOMContentLoaded', function () {
    // Función para redirigir a la página de modificación
    document.querySelectorAll('.btndel').forEach(button => {
      button.addEventListener('click', function () {
        const id = this.id;
        window.location.href = `/eliminarGrupoHorario/${id}/`;
      });
    });
  });
</script>

{% endblock %}