{% extends "base.html" %}

{% block title %}Horario por ciclo{% endblock %}

{% block content %}
        <div class="col d-flex flex-column h-sm-100">
          <main class="row overflow-auto">
            <div class="container-fluid col">
              <div class="px-lg-2 mx-lg-2 py-0 my-0">

                <div class="container-fluid m-0 p-0">

                  <div class="row align-items-center mx-0 px-0" style="overflow-x: hidden; margin-top: 35px;">

                    <div class="container justify-content-center">
                      <div class="container">


                        <div id="contenedorSub"
                          style=" padding: 20px; background-color: white; margin-top: 20px; height: auto; border-radius: 5px; ">


                          <!-- TÍTULO -->

                          <div class="box-tittle">
                            <button type="button" class="regresarBtn">
                              <a href="/inicio"><img id="closeicon" src="/static/iconos/regresar.PNG" width="32px"
                                  height="27px"></a>
                            </button>
                            <h3 id="titulo" style="margin-left: 20px; display: inline;">HORARIO POR CICLO</h3>

                          </div>


                          <form method="post" id="form_cursos_grupo" action="{% url 'horarioPorCiclo' %}">
                            {% csrf_token %}
                            <br>

                            <div class="row">
                              <div class="col md-12">
                                <label style="display: inline;">Ciclo: </label>
                                <select name="ciclo_sel" id="ciclo_combo" class="form-control" style="width: 400px; display: inline;">
                                  <option value="">Selecciona un Ciclo</option>
                                  {% for ciclo in ciclos %}
                                    <option value="{{ ciclo }}" {% if ciclo == ciclo_curso %} selected {% else %} {% endif %}>{{ ciclo }}</option>
                                    
                                  {% endfor %}
                                </select>

                                <label style="display: inline;">Grupo: </label>
                                <select name="grupo_sel" id="grupo_combo" class="form-control" style="width: 400px; display: inline;">
                                  <option value="">Selecciona un Grupo</option>
                                  {% for grupo in grupos %}
                                  <option value="{{ grupo }}" {% if grupo == grupo_ciclo %} selected {% endif %}>
                                    {{ grupo }}</option>
                                  {% endfor %}
                                </select>

                                <button type="submit" class="btnVer" style="display: inline;">Ver Horario</button>
                              </div>
                            </div>
                          </form>


                          {% if horario %}
                          <table class="table table-bordered mt-4 text-center">
                            <thead>
                              <tr>
                                <th style="background-color: #e8ebf1;color: blue;font-weight:normal;font-size: 14px;">
                                  Hora</th>
                                {% for dia in dias_semana %}
                                <th style="background-color: #e8ebf1;color: blue; font-weight:normal; font-size: 14px;">
                                  {{ dia }}</th>
                                {% endfor %}
                              </tr>
                            </thead>
                            <tbody>
                              {% for hora in horas %}
                              <tr>
                                <td class="horario-cell"
                                  style="width: 10;background-color: #e8ebf1; color: blue;font-size: 14px; padding: 0px; align-items: center; justify-content: center;">
                                  <div class="hora-container" style="margin-bottom: 90px;">
                                    <p class="hora-original" style="margin-bottom: 90px;display: inline;">{{ hora }} -
                                    </p>
                                    <p class="hora-aumentada" style="margin-bottom: 90px; display: inline;"></p>

                                  </div>
                                </td>

                                {% for dia in dias_semana %}
                                <td class="horario-cell"
                                  style="width: 20%; height: auto ;padding: 0px; text-align: center; margin: 0px;">
                                  {% for disp in horario %}
                                  {% if disp.0 == dia and disp.1 <= hora and disp.2 > hora %}

                                    <div
                                      style="background-color: rgb(241, 225, 14); width: 100%; height: 100%; box-sizing: border-box;  margin: 0px;">
                                      <p style="font-size: 12px;  margin: 0px;">
                                        <br>
                                        {{ disp.4 }}
                                        <br>
                                        ({{ disp.6}} ciclo - Grupo {{ disp.5 }})
                                      </p>
                                      <p style="font-size: 12px; margin: 0px;"> SIS </p>
                                      <br>
                                      <p style="background-color: blue; color: white; font-size: 12px;  margin: 0px;">
                                        Presencial</p>
                                      <br>
                                      <p style="font-size: 12px; margin: 0px; color:rgb(22, 22, 213)"> {{ disp.3 }}</p>
                                      <br>
                                    </div>


                                    {% endif %}
                                    {% endfor %}
                                </td>
                                {% endfor %}
                              </tr>
                              {% endfor %}
                            </tbody>
                          </table>
                          {% else %}
                          {% endif %}
                          <br>
                          <br>
                          <br>

                        </div>

                      </div>
                    </div>

                  </div>
                </div>
          </main>
        </div>

      </div>

    </div>

  </div>

{% endblock %}


{% block extra_js %}


  <script>
    document.getElementById('ciclo_combo').addEventListener('change', function () {
                document.getElementById('grupo_combo').innerHTML = '<option value="">Selecciona un Grupo</option>';
                document.getElementById('form_cursos_grupo').submit();
            });
    
    
    $(document).ready(function () {
      // Iterar sobre cada .horario-cell
      $('.horario-cell').each(function () {
        // Obtener la hora original desde el texto del primer párrafo
        var horaOriginal = $(this).find('.hora-original').text();

        // Separar las horas y minutos
        var partesHora = horaOriginal.split(':');
        var horas = parseInt(partesHora[0], 10);
        var minutos = parseInt(partesHora[1], 10);

        // Sumar una hora
        horas = horas + 1;

        // Formatear nuevamente la hora (asegurándonos de mantener el formato de 24 horas)
        var horaAumentada = ('0' + horas).slice(-2) + ':' + ('0' + minutos).slice(-2);

        // Actualizar el texto de la hora aumentada en el segundo párrafo dentro de .hora-container
        $(this).find('.hora-aumentada').text(horaAumentada);
      });
    });

  </script>


{% endblock %}