{% extends "base.html" %}

{% block title %}Reportes por Ambiente{% endblock %}

{% block content %}
        <div class="col d-flex flex-column h-sm-100">
          <main class="row overflow-auto">
            <div class="container-fluid col">
              <form class="px-lg-2 mx-lg-2 py-0 my-0">

                <div class="container-fluid m-0 p-0">

                  <div class="row align-items-center mx-0 px-0" style="overflow-x: hidden; margin-top: 35px;">

                    <div class="container justify-content-center">

                      <div class="row">


                        <div class="col-sm-12" style="margin-bottom: 30px; margin-left: 80px; margin-right: -80px;">
                          <div class="card" style="width: 500px; height: 540px;">
                            <div class="card-header">
                              <h7 style="color: white; font-size: 19px;">AMBIENTES</h7>
                            </div>

                            <div class="card mb-6" style="max-width: 540px; height: 500px;">
                              <div class="row g-0">

                                <div class="col-md-12">
                                  <div class="card-body">
                                    <br>
                                      <!-- <p> Próximamente</p> -->
                                    <!-- <ul>
                                      <li><a href="">Ver ambientes por escuela</a></li>
                                      <br>
                                      <li><a href="">Ver ambientes por curso</a></li>
                                      <br> -->
                                      <ul>
                                      <li><a href="/reporte-ambiente-curso"> Reporte Ambientes por Curso</a></li>
                    <br>
                                        <!-- <li><a href="/reporte-ambiente-curso">Ver ambientes por curso</a></li> -->
                                        <br>
                                      <br>
                                      <br>
                                      <br>
                                      <br>
                                      <br>
                                      <br>
                                       <br>
                                      <br>
                                      <br>
                                    </ul>
                                    <br>
                                    <a class="btnVer" style="margin-left: 350px; margin-top: 5px;" href="/inicio">Regresar
                                    </a>
                                  </div>
                                </div>
                              </div>
                            </div>

                          </div>

                        </div>
                      </div>

                    </div>

              </form>
            </div>
          </main>
        </div>

      </div>

    </div>

  </div>

{% endblock %}