{% extends "base.html" %}

{% block title %}Gestionar docente{% endblock %}

{% block content %}

        <div class="col d-flex flex-column h-sm-100">
          <main class="row overflow-auto">
            <div class="container-fluid col">
              <div class="px-lg-2 mx-lg-2 py-0 my-0">

                <div class="container-fluid m-0 p-0">

                  <div class="row align-items-center mx-0 px-0" style="overflow-x: hidden; margin-top: 35px;">

                    <div class="container justify-content-center">
                      <div class="container">


                        <div id="contenedorSub" style=" padding: 20px; background-color: white; margin-top: 20px; height: auto; border-radius: 5px; ">


                          <!-- TÍTULO -->
                      
                          <div class="box-tittle">
                              <button type="button" class="regresarBtn">
                                  <a href="/inicio"><img id="closeicon" src="/static/iconos/regresar.PNG" width="32px" height="27px"></a>
                              </button>
                              <h3 id="titulo" style="margin-left: 20px; display: inline;">GESTIONAR DOCENTE</h3>
                          
                          </div>
                        <br>
                        <button  class="btnVer" onclick="window.location.href='{% url 'agregarDocente' %}'"> Agregar docente</button>
                        
                        <div id="boxTabla" style="height: 340px; overflow-y: auto;">
                        
                            <table class="table" id="tabla">
                    
                                <thead class="encabezado" style=" position: sticky; top: 0; z-index: 1; background-color: #E33439;">
                                    <tr>
                                        <th scope="col" style="background-color: #E33439; color: #fff;width: 27%; ">NOMBRE COMPLETO</th>
                                        <th scope="col" style="background-color: #E33439; color: #fff;width: 15%;">EMAIL </th>
                                        <th scope="col" style="background-color: #E33439; color: #fff;width: 10%;">TELÉFONO</th>                                        
                                        <th scope="col" style="background-color: #E33439; color: #fff;width:10%;">ESPECIALIDAD</th>
                                        <th scope="col" style="background-color: #E33439; color: #fff;width: 15%;">TIPO DE CONTRATO</th>
                                        <th scope="col" style="background-color: #E33439; color: #fff;width: 10%;">ESTADO</th>
                                        <th scope="col" style="background-color: #E33439; color: #fff;width: 10%;">ACCIONES</th>
                                    </tr>
                                </thead>
                    
                                <tbody>
                                    {% for d in docentes %}
                    
                                    <tr>
                    
                                        <td id="nombre" style="text-align: left;">{{ d.0 }}</td>
                                        <td id="email" style="text-align: center;" >{{ d.1 }}</td>
                                        <td id="telefono" style="text-align: center;" >{{ d.2 }}</td>
                                        <td id="especialidad" style="text-align: center;">{{ d.3 }}</td>
                                        <td id="contrato" style="text-align: center;" >{{ d.4 }}</td>
                                        <td id="estado" style="text-align: center;">{{ d.6 }}</td>
                                        <td id="butns" style="text-align: center;">
                                          <button class="btnmodif" id="{{ d.7 }}">
                                            <i class="fa fa-pencil"></i> 
                                        </button>
                                        <button class="btndel" id="{{ d.7 }}"">
                                            <i class="fa fa-trash"></i> 
                                        </button>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                    
                            </table>
                    
                        </div>
  
                        </div>
                    
                      </div>                      
                    </div>

                  </div>
            </div>
          </main>
        </div>

      </div>

    </div>


  {% endblock %}

  {% block extra_js %}


  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js"
    integrity="sha512-7Pi/otdlbbCR+LnW+F7PwFcSDJOuUJB3OxtEHbg4vSMvzvJjde4Po1v4BR9Gdc9aXNUNFVUY+SK51wWT8WF0Gg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>

    <script>

document.addEventListener('DOMContentLoaded', function() {

    var filtroInput = document.getElementById("filtro");
    var limpiarBtn = document.getElementById("limpiarBtn");
    var tabla = document.querySelector(".table");
    var nombreColumnaIndex = 0; 

    function filtrarTabla() {
        var filtro = filtroInput.value.toLowerCase();
        var filas = tabla.getElementsByTagName("tr");
        
        for (var i = 0; i < filas.length; i++) {
            var celdaNombre = filas[i].getElementsByTagName("td")[nombreColumnaIndex];
            if (celdaNombre) {
                var textoCelda = celdaNombre.innerText.toLowerCase();
                var fila = filas[i];
                if (textoCelda.indexOf(filtro) > -1) {
                    fila.style.display = "";
                } else {
                    fila.style.display = "none";
                }
            }
        }
    }

    filtroInput.addEventListener("keyup", filtrarTabla);

    limpiarBtn.addEventListener("click", function() {
        filtroInput.value = ""; 
        filtrarTabla(); 
    });
    
});

document.addEventListener('DOMContentLoaded', function() {
    // Función para redirigir a la página de modificación
    document.querySelectorAll('.btnmodif').forEach(button => {
        button.addEventListener('click', function() {
            const id = this.id;
            window.location.href = `/modificarDocente/${id}/`;
        });
    });
});

document.addEventListener('DOMContentLoaded', function() {
    // Función para redirigir a la página de modificación
    document.querySelectorAll('.btndel').forEach(button => {
        button.addEventListener('click', function() {
            const id = this.id;
            window.location.href = `/eliminarDocente/${id}/`;
        });
    });
});
    </script>

{% endblock %}